<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" data-toggle="collapse" data-target="#main-navbar" class="navbar-toggle collapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			{{#link-to 'index' class="navbar-brand" }}ADDON-NAME{{/link-to}}
		</div>
		<div id="main-navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li>{{#link-to 'example.index'}} Example {{/link-to}}</li>
				<li>{{#link-to 'options'}} Options {{/link-to}}</li>
				<li>{{#link-to 'methods'}} Methods {{/link-to}}</li>
				<li>{{#link-to 'events'}} Events {{/link-to}}</li>
				<li>{{#link-to 'contact'}} Contact {{/link-to}}</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"> {{fa-icon "twitter"}}</a></li>
				<li><a href="#"> {{fa-icon "linkedin"}}</a></li>
				<li><a href="#"> {{fa-icon "github"}} GitHub</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	{{outlet}}
</div>
<footer>
	<div class="container text-center">
		<p class="text-muted">
			ADD-ON copy right and some other note.
		</p>
	</div>
</footer>