<aside class="col-sm-3">
	<div id="navbar-sidebar">
		<ul class="nav nav-stacked nav-scrollspy" role="tablist">
			<li><a href="#step1">Step 1</a></li>
			<li><a href="#step2">Step 2</a></li>
			<li><a href="#step3">Step 3</a></li>
			<li><a href="#step4">Step 4</a></li>
			<li><a href="#step5">Step 5</a></li>
		</ul>
	</div>
</aside>
<main class="col-sm-9">
	<h2 id="step1">Step 1</h2>
	<br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br />

	<h2 id="step2">Step 2</h2>
	<br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br />

	<h2 id="step3">Step 3</h2>
	<br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br />

	<h2 id="step4">Step 4</h2>
	<br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br />

	<h2 id="step5">Step 5</h2>
	<br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br />
</main>
{{outlet}}