<div class="jumbotron text-center">
	<h1>ADDON-NAME</h1>
	<br><br>
	<p>Amazing add-on you have ever see.</p>
</div>
<div class="container">


<h1 id="getting-started">Getting Started</h1>
<hr>


<h2 id="dependencies">Dependencies</h2>
<p>
  Requires jQuery v1.8.0+, Bootstrap’s dropdown.js component, and Bootstrap's CSS. If you're not already using Bootstrap in your project, a precompiled version of the minimum requirements can be downloaded <a href="http://getbootstrap.com/customize/?id=7830063837006f6fc84f">here</a>.
</p>



<h2 id="cdnjs">CDNJS</h2>
<p>
	The folks at CDNJS host a copy of the library. The CDN is updated after the release is made public, which means there is a delay between the publishing of a release and its availability on the CDN, so keep that in mind. Just use these links:
</p>
{{#highlight-code }}
	SOME-CODE-OF-ADDON
{{/highlight-code}}



<h2>Install ADD-ON</h2>
<p>
	You can also install ADD-ON using :
</p>
<ul>
	<li>
		Install with <a href="http://bower.io/">Bower</a>:  {{highlight-code  code='bower install masonry --save'}}
	</li>
	<li>
		<a href="https://www.npmjs.com/package/masonry-layout">Install with npm</a>:   {{highlight-code  code='npm install masonry --save'}}
	</li>
</ul>









<h1 id="usage">Usage</h1>
<hr>
<p>
	Create your <code>&lt;select&gt;</code> with the <code>.selectpicker</code> class. The data-api will automatically theme these elements.
</p>
<pre>
</pre>



	<h1 id="used-by">Used by</h1>
	<hr>
	<div class="row">
		<div class="col-sm-3">
			<a href="#"><img class="img-rounded img-responsive" src="http://placehold.it/300x150" /></a>
		</div>
		<div class="col-sm-3">
			<a href="#"><img class="img-rounded img-responsive" src="http://placehold.it/300x150" /></a>
		</div>
		<div class="col-sm-3">
			<a href="#"><img class="img-rounded img-responsive" src="http://placehold.it/300x150" /></a>
		</div>
		<div class="col-sm-3">
			<a href="#"><img class="img-rounded img-responsive" src="http://placehold.it/300x150" /></a>
		</div>
	</div>
	<div class="clearfix"><br ></div>
	<div class="row">
		<div class="col-sm-12">
			<p class="well well-sm text-center">
				Does your organization use ADD-ON? Open an issue, and include a link and logo, and you'll be added to the list.
			</p>
		</div>
	</div>

</div>
{{outlet}}
